@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --color-primary: #024126;
    --color-secondary: #ffffff;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #111;
}

html::-webkit-scrollbar-thumb {
    background-color: #ce1717;
    border-radius: 50px;
}

* {
    scrollbar-color: #ce1717 #111;
    scrollbar-width: thin;
}

.container {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--color-primary);
}

/* ------------------------------------------------------------------------------
Index Page Start
------------------------------------------------------------------------------ */

.hero-pattern {
    z-index: 1;
    position: absolute;
    top: -30px;
    left: -200px;
    scale: 82%;
    overflow: hidden;
}

.hero-back {
    z-index: 0;
    position: absolute;
    left: 50px;
    scale: 70%;
}

.navigation-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    margin-top: 20px;
}

.nav-bar {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-primary);
    padding: 0px 10px;
    border-radius: 50px;
    z-index: 100;
    position: fixed;
    top: 20px;
}

.nav-logo {
    scale: 70%;
}

.nav-entries-logo:hover {
    filter: invert(17%) sepia(40%) saturate(520%) hue-rotate(352deg)
        brightness(68%) contrast(97%);
}

.nav-entries {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-secondary);
    transition: 0.2s ease-in-out;
}

.nav-entries:hover {
    color: #d3ad7f;
}

#hero {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.caption-div {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    top: 385px;
    left: 350px;
}

.caption-entries {
    font-weight: 600;
    font-size: 45px;
    color: var(--color-secondary);
    margin-top: -18px;
}

.caption-entries-span {
    font-size: 45px;
    font-weight: 600;
    color: #ce1717;
    transition: 0.2s ease-in-out;
}

.caption-entries-span:hover {
    text-shadow: 10px 20px 6rem #ff0505;
    color: #fa402f;
}

.sign-in-btn-hero-div {
    z-index: 10;
    position: absolute;
    top: 540px;
    left: 350px;
    width: 200px;
    height: 50px;
}

.sign-in-btn-hero {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-secondary);
    padding: 10px 30px;
    background-color: #62011d;
    transition: 0.2s ease-in-out;
}

.sign-in-btn-hero:hover {
    background-color: #ce1717;
}

.nextpage-btn-div {
    width: 100%;
    margin-top: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nextpage-btn-div a {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: 0.2s ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.naxt-page-caption {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 25px;
    margin-top: 20px;
}

#guide {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #024126;
    align-items: center;
    z-index: 2;
}

.back-patters-guide {
    position: absolute;
    scale: 80%;
    z-index: -10;
}

.back-image-guide {
    position: absolute;
    scale: 80%;
    top: 1020px;
    left: 400px;
    z-index: -5;
}

.sec-heading-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.welcome-note-div {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.sec-head-1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    color: var(--color-secondary);
}

.sec-head-2 {
    color: #80a093;
    margin-top: -15px;
}

.since-text {
    font-weight: 700;
    font-size: 20px;
    color: #d3ad7f;
    margin-bottom: -40px;
    margin-left: 5px;
}

.since-year {
    font-weight: 700;
    font-size: 100px;
    color: #d3ad7f;
}

.welcome-para-text {
    width: 400px;
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 18px;
}

.guide-spec-container {
    display: flex;
    width: 65%;
    justify-content: space-between;
    margin-top: 70px;
}

.guide-spec-content h1 {
    font-weight: 800;
    font-size: 30px;
    color: #d3ad7f;
}

.guide-spec-head-sec2 {
    margin-top: -20px;
}

.guide-spec-content p {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-secondary);
    width: 255px;
}

#explore {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.explore-back-pattern {
    position: absolute;
    scale: 80%;
    z-index: -2;
    top: 1550px;
}

.explore-vector {
    position: absolute;
    scale: 80%;
    top: 1520px;
    left: -200px;
    z-index: -10;
}

.sec-head-1-explore {
    color: #024126;
}

.explore-spec-content h1 {
    color: #024126;
}

.explore-spec-content p {
    color: #836f57;
    font-weight: 600;
}

#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.sec-head-1-about {
    color: var(--color-secondary);
}

.about-para-div p {
    width: 900px;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-secondary);
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------
Index Page End
------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------
Sign-Up Page Start
------------------------------------------------------------------------------ */

.user-container {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.login-patterns {
    position: absolute;
    scale: 80%;
    z-index: 1;
}

.signup-head-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    z-index: 2;
}

.signup-head-text {
    font-weight: 600;
    font-size: 50px;
    color: var(--color-secondary);
}

.signup-head-text2 {
    color: #80a093;
    margin-top: -20px;
}

.login-entries-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
    z-index: 2;
}

.login-entries-set {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-text-box {
    width: 250px;
    border: 2px solid #80a093;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
}

.login-text-box:focus {
    background-color: #80a093;
}

.login-entries-set label {
    font-weight: 400;
    font-size: 18px;
    color: #111;
}

.submit-btn-login {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #111;
    background-color: #80a093;
    align-self: center;
    padding: 5px 92px;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
}

.submit-btn-login:hover {
    background-color: #024126;
    color: var(--color-secondary);
}

.user-type-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #aaaaaa;
    align-self: center;
}

.sign-in-container {
    margin-top: 80px;
}

.error {
    background-color: var(--color-secondary);
    color: #ce1717;
    position: fixed;
    top: 630px;
    left: 635px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.error-signup {
    top: 570px;
    margin-left: 20px;
}

/* ------------------------------------------------------------------------------
Sign-Up Page End
------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------
Dashboard Page Start
------------------------------------------------------------------------------ */

.dash-container {
    width: 100vw;
    height: 100vh;
    background-color: #f2e8df;
}

.dash-nav-container {
    width: 100%;
    height: 13%;
    background-color: #024126;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logout-dash-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border: 3px solid #ce1717;
    padding: 2px 20px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.logout-dash-btn:hover {
    background-color: #80a093;
    border: 3px solid #ffffff;
}

.dash-nav-design {
    position: absolute;
    width: 60px;
    top: 0px;
    left: 250px;
}

.dash-content-div {
    width: 100%;
    height: 87%;
    display: flex;
}

.dash-main-nav-div {
    width: 22%;
    height: 100%;
}

.dash-contents-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dash-content-container {
    display: flex;
    width: 100%;
    height: 50%;
    padding: 0 100px;
    align-items: center;
    justify-content: space-evenly;
}

.dash-content-box {
    width: 230px;
    height: 180px;
    background-color: #80a093;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dash-content-box2 {
    background-color: #ca6c6c;
}

.dash-content-box h4 {
    color: #f2e8df;
    font-weight: 700;
    font-size: 30px;
}

.dash-content-box h2 {
    color: #f2e8df;
    font-weight: 700;
    font-size: 80px;
}

.dash-hr,
.dash-content-hr {
    border: 2px solid #bbc2c0;
}

.dash-content-hr {
    margin: 0 100px;
}

.dash-nav-main-entry {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.dash-nav-main-entry:hover .dash-nav-main-text h3 {
    color: #ce1717;
}

.dash-nav-main-entry:hover .dash-nav-main-logo img {
    filter: invert(16%) sepia(86%) saturate(3190%) hue-rotate(350deg)
        brightness(101%) contrast(104%);
}

.dash-nav-main-logo {
    width: 30%;
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.dash-nav-main-logo img {
    width: 35px;
}

.dash-nav-main-text {
    width: 70%;
    color: #ce1717;
}

.dash-nav-main-text h3 {
    font-weight: 600;
    font-size: 25px;
}

.dash-nav-main-entry-dummy {
    margin-top: 30px;
}

.dash-nav-main-text-dummy h3 {
    color: #111;
}

.dash-nav-main-text a {
    text-decoration: none;
    color: #ce1717;
}

.dash-nav-main-text-dummy a {
    text-decoration: none;
    color: #111;
}

/* ------------------------------------------------------------------------------
Dashboard Page End
------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------
Wines Page Start
------------------------------------------------------------------------------ */

.dash-wines-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dash-wines-add-wine-div {
    width: 100%;
    margin: 20px 100px;
}

.dash-wines-add-wine-div a {
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    background-color: #ce1717;
    padding: 10px 10px;
    transition: 0.2s ease-in-out;
}

.dash-wines-add-wine-div a:hover {
    border-radius: 30px;
}

.dash-wines-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-wines-list-head {
    width: 85%;
    display: flex;
    background-color: #80a093;
    padding: 10px 10px;
    margin-top: 10px;
}

.dash-wine-collection-detailed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.dash-wines-list-head-value {
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
}

.dash-wines-text {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.dash-wines-text-black {
    color: #111;
    font-weight: 500;
}

.dash-wines-slno {
    width: 10%;
}

.dash-wines-name {
    width: 40%;
}

.dash-wines-winery {
    width: 25%;
}

.dash-wines-region {
    width: 25%;
}

.dash-wines-list-head-value:hover {
    background-color: #c5eedd;
    scale: 102%;
}

/* ------------------------------------------------------------------------------
Wines Page End
------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------
Add Wines Page Start
------------------------------------------------------------------------------ */

.dash-add-wines-container {
    display: flex;
    align-items: center;
}

.dash-add-wine-entry-container {
    width: 70%;
    height: 500px;
    background-color: #80a093;
    margin-top: 80px;
    display: flex;
}

.dash-add-wines-content-div1,
.dash-add-wines-content-div2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.add-wines-sec {
    display: flex;
    flex-direction: column;
}

.add-wines-sec input {
    width: 220px;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #fff;
}

.add-wines-sec label {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.add-wines-sec input:focus {
    border: 2px solid #ce1717;
    outline: none;
}

#region {
    width: 220px;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #fff;
}

#region:focus {
    border: 2px solid #ce1717;
}

.add-wine-sub-btn {
    padding: 30px;
    background-color: #ce1717;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition: 0.2s ease-in-out;
}

.add-wine-sub-btn:hover {
    cursor: pointer;
    background-color: #024126;
}

.dash-add-wine-entry-container-add-wineries {
    height: 400px;
}

.dash-add-wine-entry-container-add-wine-coll {
    width: 60%;
    height: 230px;
}

.add-wines-coll-sec{
    width: 100%;
}

/* ------------------------------------------------------------------------------
Add Wines Page End
------------------------------------------------------------------------------ */
